<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="paypal-button">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="T4CF29SEVYM2U">
    <select name="os0">
        <option value="Nuova iscrizione">Nuova iscrizione €10,00 EUR</option>
        <option value="Rinnovo quota annuale">Rinnovo quota annuale €10,00 EUR</option>
    </select>
    <input type="hidden" name="currency_code" value="EUR">
    <input src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_buynowCC_LG.gif"
        type="image"
        border="0" name="submit"
        alt="PayPal - Il metodo rapido, affidabile e innovativo per pagare e farsi pagare.">
    <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
</form>
